
// load the base configuration
exec default.cfg

// load the last saved configuration
exec config.cfg

// run a user script file if present
exec autoexec.cfg

//
// stuff command line statements
//
stuffcmds

// exec half-life script
exec halflife.cfg

// start demos if not already running a server
startdemos hldem1 hldem2 hldem3
